.table{
    width: 100%;
    border-collapse:collapse
  }
  .head{
    text-align: center;
   }
  .table th, .table td {
    border: 1px solid rgb(61, 117, 47);
    padding: 8px;
    /* text-align: left; */
  }
  .bodyclass{
    text-align: left;
  }
  
  
  .table th {
    background-color: #f2f2f2;
  }
  